.AboutUsContainer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-area: content;
}
.AboutUsContainer p:first-child {
  padding: 0;
  margin: 0;
}
.AboutUsContainer h2 {
  font-size: 1em;
  margin: 1.8em 0.3em 0.8em 0em;
  padding: 0;
}
